html {
    background: url("img/2193203.jpg") no-repeat center fixed;
    background-size:cover;
    color: white;
}

body {
    margin: auto;
    text-align: center;
}

.img-logo {
    width: 500px;
    padding: 50px 0;
       }

.img-spidey {
    width: 500px;
    padding:50px 0;
}

.img-nowayhome {
    width:500px;
    padding:50px 0;
}

.img-ironman {
    width:500px;
    padding:50px 0;
}